body{
  overflow-x:hidden;
}
#content{
  font-size:18px;
  color:gray;
  margin-top:25px;
}

#content a{
  text-decoration:underline;
  color:skyblue;
}
#content a:hover{
  text-decoration:none;
  color:skyblue;
}

#content h1{
  font-weight:bold;
  color:purple;
}
#content hr{
  border-top:solid 1px purple;
}
#content .topic:hover{
  text-decoration:underline;
}
