.footer{
  background-color:slategray;
  color:white;
  margin-top:50px;
  padding-left:10px;
}
.footer > p{
  margin-bottom:25px;
  margin-top:25px;
}
.footer a{
  text-decoration:underline;
  color:white;
}
.footer a:hover{
  text-decoration:none;
  color:white;
}
